*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popping',sans-serif;

}

body
{
  background: #1f242d;
  color: #fff;
} 
.header
 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
    
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:  35px ;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a:active {
    background: -webkit-linear-gradient(rgb(144, 42, 198),cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0 ;
}
.home-content {
    max-width: 600px;
}


.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    background: -webkit-linear-gradient(rgb(144, 42, 198),cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}
.home-img img {
    max-width: 550px;
    margin-right: -30px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s , 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    background: linear-gradient(rgb(144, 42, 198),cyan);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-flex;
    padding: 12px 28px;
    background: linear-gradient(to right,rgb(144, 42, 198),cyan);
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
    transition: .5s ease;
}

.Ab0{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: .7s;
    background: linear-gradient(rgb(144, 42, 198),cyan);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: blur(0.5px);
}

b{
    font-size: 20px;
}

big{
    font-weight: 700;
}

.skill{
    font-family: 'Gill Sans', sans-serif;
    list-style: none;
    padding: 0;
    margin: 18px auto;
    width: 500px;
    color: #fff;
    box-shadow: 0 14px 28px #0c1022,0 10px 10px #0c1022;
}

.skill li{
    padding: 10px;
}

li h3{
    margin: 18px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid #0c1022;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25.8.25.1);
    filter: blur(0.5px);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(144, 42, 198),cyan);
}

.PYTHON{
    width: 65%;
    animation: PYTHON 3%;
}

.C {
    width: 45%;
    animation: C 3%;
}

.HTML{
    width: 50%;
    animation: HTML 3%;
}

.CSS{
    width: 40%;
    animation: CSS 3%;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}